@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

div .t{
    writing-mode: vertical-rl;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
h1, h2, h3, h4, h5, h6{
    font-weight: bolder;
    font-family: "Inter", sans-serif;
}
p{
    font-family: "Inter", sans-serif;
    font-weight:light;

}
.btn-red{
    background: hsla(0, 100%, 50%, 1);
    color:#fff;
}
.red-background{
    background: hsla(358, 70%, 48%, 1);

}
.curve{
    border-radius:20px;
}
h1{
    font-weight: 800;
    font-size:4.8rem;
    font-style: bold;
}
h2{
    font-weight: 800;
    font-size:2.8rem;

}

* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
.hero{
    background: linear-gradient(97.64deg, #FAEFF2 35.87%, #F7ECFE 92.34%);
    
}
.sub-hero{
    background: hsla(311, 48%, 95%, 1);

}
.nav-item {
    font-weight: 900;
}
.icons{
    width:12px;
    height:12px;
}
.logo{
    width:150px
}
.hero-img{
    position: absolute;
    top:150px;
    z-index: 1;
}

@media screen and (max-width: 800px) {
    .hero-img{
        position: relative;
        top: 0px;
    }
}